
#
# region and availability zone for the Inspection VPCs
#
aws_region                   = "us-west-2"
availability_zone_1          = "a"
availability_zone_2          = "c"

#
# Subnet bits = number of bits used in the cidr for subnet.
# e.g. 10.0.0.0/16 cidr with 8 subnet bits means each subnet is 10.0.0.0/24, 10.0.1.0/24, etc
#
subnet_bits                 = 8

#
# index in the subnet in the cidr range.
# e.g. index 1 in 10.0.0.0/16 is 10.0.1.0/24
#
public_subnet_index         = 0
gwlbe_subnet_index          = 1
private_subnet_index        = 2
tgw_subnet_index            = 3

#
# cp (customer_prefix) and env (environment) prepended to all resources created by the template.
# Used for identification. e.g. "<customer_prefix>-<prod/test/dev>". Set these to anything you like.
#
cp                          = "acme"
env                         = "test"

#
# Fortigate Autoscale Variables
#
# Fortigate instance type used by all of the ASGs
#
fgt_instance_type           = "c5.xlarge"
#
# Fortigate version used by all of the ASGs. If you only put the major version, it will use the latest minor version.
#
fortios_version             = "7.4.4"

#
# EW and NS Min,Max,Desired capacity for the BYOL ASG and OnDemand ASG.
# You might find it easier to verify traffic flows with a single instance in the ASG.
# To increase the number of instances in the ASG,
# change the values in the autoscale group through the GUI to desired values after the stack is created.
#
ns_byol_asg_min_size         = 1
ns_byol_asg_max_size         = 2
ns_byol_asg_desired_size     = 1

ns_ondemand_asg_min_size     = 0
ns_ondemand_asg_max_size     = 2
ns_ondemand_asg_desired_size = 0

ew_byol_asg_min_size         = 1
ew_byol_asg_max_size         = 2
ew_byol_asg_desired_size     = 1

ew_ondemand_asg_min_size     = 0
ew_ondemand_asg_max_size     = 2
ew_ondemand_asg_desired_size = 0


#
# Keypair is a account/region specific resource used to login to the instances.
#
# my_ip is used to restrict security groups to only allow traffic from your IP.
#
keypair                     = "my-keypair"
my_ip                       = "x.x.x.x/32"

#
# Prefixes for resources deployed in the North-South and East-West VPCs
# All resources deployed in the North-South VPC will have the prefix "ns"
# All resources deployed in the East-West VPC will have the prefix "ew"
# These values can be anything you like, but they must be unique or you will encounter resource naming conflicts.

#
ew_module_prefix            = "ew"
ns_module_prefix            = "ns"

ew_license_directory        = "ew_license"
ns_license_directory        = "ns_license"
ew_fgt_config_file          = "./ew_fgt_config.conf"
ns_fgt_config_file          = "./ns_fgt_config.conf"
#
# default admin password for the Fortigate autoscale instances. This can be changed after the instance is launched.
# If changed from the Fortigate GUI, the password will be sync'd to other members of the autoscale group.
#
fortigate_asg_password      = "Fortinet123!"

#
# INSPECTION VPC Booleans
#
# Create NAT Gateways in the public subnets of the inspection VPC and point the route tables to the NAT Gateways
#
enable_nat_gateway             = false

#
# create a tgw subnet in the inspection vpc. This can be useful if you need multiple paths to different resources.
# If enabled, the TGW will attach to the tgw subnet in the inspection VPC.
# If not enabled, the TGW will attach to the private subnet in the inspection VPC.
#
enable_tgw_attachment_subnet   = false

#
# enable_tgw_attachment allows you to attach the Inspection VPCs to the named TGW.
# If you are attaching the inspection VPC to an existing TGW, provide the name of the TGW here.
# The named TGW must exist and be in the "Available" state.
#
enable_tgw_attachment           = true
attach_to_tgw_name              = "acme-test-tgw"

#
# Allow the GWLB to load balance to healthy FortiGate instances in a different zone
#
allow_cross_zone_load_balancing = true

#
# Endpoint names for the inspection VPCs. These are used to setup the route tables for the inspection VPCs.
# For now, the autoscale templates deploy the endpoints, but do not pass the endpoint ids back the main template.
# So, the main templates have to lookup the endpoint ids by name for route table manipulations.
#
# This will likely change in the future.
#
ns_endpoint_name_az1            = "ns-gwlbe_az1"
ns_endpoint_name_az2            = "ns-gwlbe_az2"
ew_endpoint_name_az1            = "ew-gwlbe_az1"
ew_endpoint_name_az2            = "ew-gwlbe_az2"

#
# FMGR AND FAZ OPTIONS
#
#  Allow creation of FortiManager and FortiAnalyzer instances in the public subnet of the inspection VPC
# enable assign a public IP to the FortiManager and FortiAnalyzer instances
#
enable_fortimanager            = false
enable_fortianalyzer           = false
enable_fortimanager_public_ip  = false
enable_fortianalyzer_public_ip = false

#
# If enable_fortimanager and/or enable_fortianalyzer is enabled, full path for FortiManager and FortiAnalyzer Licenses.
# Do not use the same directory as FortiGate autoscale licenses. If placed in the same directory,
# the autoscale lambda function will attempt to use the FortiManager and FortiAnalyzer licenses as FortiGate licenses
# and the autoscale instance will fail to launch successfully.
#
# If you enable fmgr and/or faz and the file is not found, the templates will fail
#
fortimanager_license_file   = "./licenses/fmgr_license.lic"
fortianalyzer_license_file  = "./licenses/faz_license.lic"

fortimanager_instance_type  = "m5.xlarge"
fortianalyzer_instance_type = "m5.xlarge"

fortimanager_os_version     = "7.4.3"
fortimanager_host_ip        = 14
fortianalyzer_os_version    = "7.4.3"
fortianalyzer_host_ip       = 13

#
# Allow creation of Linux instances in east/west VPCs and the jump box in the inspection VPC
# enable assign a public IP to the jump box.
# These instances can be useful for testing, but not intended for production environments.
#
enable_jump_box                = false
enable_linux_spoke_instances   = false
enable_jump_box_public_ip      = false

#
# CIDR blocks for the inspection VPCs
#
vpc_cidr_ns_inspection      = "10.0.0.0/16"
vpc_cidr_ew_inspection      = "10.1.0.0/16"
vpc_cidr_jump_box           = "10.0.0.0/24"

#
# CIDR blocks for the spoke VPCs.
#
vpc_cidr_spoke              = "192.168.0.0/16"
vpc_cidr_east               = "192.168.0.0/24"
vpc_cidr_east_private_az1   = "192.168.0.0/28"
vpc_cidr_east_private_az2   = "192.168.0.16/28"
vpc_cidr_west               = "192.168.1.0/24"
vpc_cidr_west_private_az1   = "192.168.1.0/28"
vpc_cidr_west_private_az2   = "192.168.1.16/28"

#
# ACL for linux instances
#
acl                         = "private"

#
# Endpoints Variables
#
linux_instance_type         = "t2.micro"
linux_host_ip               = 11
